@charset "UTF-8";
@media screen and (max-width: 993px){
  .navbar {
    overflow: auto;
  }
}
@media screen and (min-width: 765px) {
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
  }
  menu {
    text-align: right;
    
  }
  .produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 10px 5%;
  }
}

@media screen and (min-width: 993px) {
  .estrutura {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-areas: 
    "header header"
    "navbar produtos"
    "footer footer";
  }
  .navbar {
    border: none;
    position: relative;
    background-color: whitesmoke;
  }
  .navbar img {
    display: block;
    margin: 10px auto;
  }
  .navbar ul {
    white-space: wrap;
    position: sticky;
    top: 0;
  }
  .navbar li {
    display: block;
  }
  .navbar li + li {
    margin: 0;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}




