@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Pacifico & display=swap');

:root {
    --font-01:'Pacífico', sans-serif;
    --font-02: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --cor-01: black;
    --cor-02: whitesmoke;
    --cor-03: rgb( 13, 128, 191);
    --cor-04: #f8c300;
    --cor-05: #93754f;
}

* {
    padding: 0px;
    margin: 0px;
}
body {
    background-image: linear-gradient(to bottom, whitesmoke, rgb( 13, 128, 191)); 
}
header {
    margin: auto;
    background-color: var(--cor-01);
    padding: 20px;
}
header img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
nav {
    background-color: var(--cor-01);
    padding: 20px;
    text-align: center;
    box-shadow: -2px 2px 7px  rgba(0, 0, 0, 0.811);
}
nav a {
    color: var(--cor-02);
    text-decoration: none;
    font-family: var(--font-02) ;
}
nav a:hover {
    color: rgb(195, 192, 192);
}
nav img {
    width: 15px;
}
main {
    background-color: white;
    max-width: 750px;
    margin: auto;
    box-shadow: -2px 2px 7px  rgba(0, 0, 0, 0.811);
    border-radius: 0px 0px 5px 5px;
}
main img {
   display: block;
   width: 300px;
   height: auto;
   padding: 50px 20px 0px 20px;
   margin: auto;
   border: 1px solid black;
}
dt#m {
    margin-top: 0px;
}
main dt {
    margin-top: 90px;
}
main dd {
    text-align: center;
    font-family: var(--font-02);
    font-size: 1.4em;
    font-weight: normal;
    font-style: italic;
}
footer {
    background-color: black;
    color: whitesmoke;
    font-family: var(--font-02);
    text-align: center;
    padding: 10px;
    
}
a::after {
    content: ' [link]';
    color: rgba(245, 245, 245, 0.637);
    font-size: 0.7em;
}



