@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --font-01:'Pacífico', sans-serif;
    --font-02: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --cor-01: black;
    --cor-02: whitesmoke;
    --cor-03: rgb( 13, 128, 191);
    --cor-04: #f8c300;
    --cor-05: #93754f;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courgette', cursive;
}
body {
    background-image:linear-gradient(to bottom, rgb( 13, 128, 191), rgb(9, 85, 126));
    
}
header {
    margin: auto;
    background-color: var(--cor-01);
    padding: 20px;
}
header img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
nav {
    background-color: var(--cor-01);
    padding: 20px;
    text-align: center;
    margin: 0px 0px -10px 0px;
    box-shadow: -2px 2px 7px  rgba(0, 0, 0, 0.811);
}
nav a {
    color: var(--cor-02);
    text-decoration: none;
    font-family: var(--font-02) ;
}
nav a:hover {
    color: rgb(195, 192, 192);
}
nav img {
    width: 15px;
}

main {
    max-width: 800px;
    margin: auto;
    border-radius: 0px 7px;
    background-color: white;

}

section {
    height: 370px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    
}
div {
    position: relative;
    margin: auto;
    width: 200px;
    height: 90%;

}
 
div.vinhos {
    width: 200px; 
    height: 350px;
    position: relative; 
}
div#img01 {
    background: url(../imagem/DEZA0.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  
} 
div#img02 {
    background-image: url(../imagem/TRI.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 
div#img03 {
    background-image: url(../imagem/OLIMPICO.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

} 
div#img04 {
    background-image: url(../imagem/1903ANOSn.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 
div#img05 {
    background-image: url(../imagem/40ANOSn.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 
div#img06 {
    background-image: url(../imagem/SUAREZ.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 
div#img07 {
    background-image: url(../imagem/120ANOS.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 
div#img08 {
    background-image: url(../imagem/But.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 
.parageafo {
    border: 2px solid black;
    text-align: center;
}
li {
    border: 1px solid black;
    width: 150px;
}
ul {
    list-style: none;
    line-height: 1.5em;
}
ul.lista {
    position: absolute;
    left: 1; 
    width: 50%; 
    list-style-type: none;
    padding: 0px;
}
li.nivel1 {
    color: #93754f;
    font-weight: 100;
    font-size: 0.9em;;
}
li.nivel2 {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}
.vinhos img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

footer {
    margin-top: -10px;
    text-align: justify;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}